/*********************************************************** Google Fonts *********************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+VIC+WA+NT+Beginner&family=Ubuntu:wght@300&display=swap');


:root {
    --primary-white: rgb(255, 255, 255);
    --primary-fuchsia: rgb(255, 0, 255);
    --primary-black: rgb(0, 0, 0);
    --primary-dark: rgb(52, 58, 64);
    

}

body {
    font-family: "Roboto Condensed", sans-serif !important;
    background-color: rgb(226, 221, 221);
    /* background-color: black; */
}

/*********************************************************** Navbar *********************************************************************/

.navbar {
    /* background-color: var(--primary-dark) !important; */
    background-color: rgba(219, 182, 217, 0.755) !important;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 6rem;
}

nav a.nav-link {
    /* font-weight: 500; */
    letter-spacing: 0.0375rem;
    cursor: pointer;
    font-size: .8rem;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white) !important;
    /* margin-bottom: 4rem; */
}

.navbar-name {
    color: rgba(117, 26, 117, 0.995);
    font-size: 2.3rem;
    font-family: "Dancing Script", cursive;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
    border-bottom: 0.1875rem solid var(--primary-fuchsia);
}

/* .navbar-nav > li > a:hover {

} */

/*********************************************************** Home *********************************************************************/

.home-wrapper {
    position: relative;
    background: url(background3.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.main-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-family: "Roboto Condensed", sans-serif; */
}

.main-info h1 {
    color: var(--primary-fuchsia);
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #FF00FF,
    0 0 82px #FF00FF,
    0 0 92px #FF00FF,
    0 0 102px #FF00FF,
    0 0 151px #FF00FF;
    font-weight: 700;
    text-transform: uppercase;
}

.Typewriter__wrapper, .Typewriter__cursor {
    font-size: 2rem;
    color: var(--primary-fuchsia);
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #FF00FF,
    0 0 82px #FF00FF,
    0 0 92px #FF00FF,
    0 0 102px #FF00FF,
    0 0 151px #FF00FF;
}


/*********************************************************** About Me *********************************************************************/
.photo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 16rem;
    border-radius: 50%;
    padding: .3rem;
    border: 1px solid var(--primary-fuchsia)
}

.about-heading {
    color: var(--primary-fuchsia);
    text-transform: uppercase;
}

.about-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16rem;
}

/*********************************************************** Portfolio *********************************************************************/
.portfolio-wrapper {
    
    padding: 3rem 0;
}

.portfolio-image {
    width: 15rem;
    border: 1px solid var(--primary-fuchsia);
    /* padding: 0 0.5rem; */
}

.portfolio-image-box {
    position: relative; 
    margin: 1rem;
}

.portfolio-wrapper a {
    color: rgba(117, 26, 117, 0.995);
}
/* .portfolio-image-box-1 {
    margin: 1rem;
    float:right;
    display: inline;
} */

h1 {
    color: var(--primary-fuchsia);
}

/*********************************************************** Resume *********************************************************************/
.resume-text {
    /* color: var(--primary-fuchsia) !important; */
    color: rgba(117, 26, 117, 0.995);
    text-transform: uppercase;
    padding-bottom: 3rem;
}

.icons {
color: rgb(44, 178, 44);
font-size: 3rem;
}

/* removed white space between portfolio and resume */
/* .resume {
    background-color: var(--primary-black);
    padding-top: 3rem;
    padding-bottom: 3rem;
} */


a:link { text-decoration: none; }

/*********************************************************** Contact *********************************************************************/

/* .contact { */
    /* background: var(--primary-black); */
    /* background-color: rgb(70, 154, 200);
    padding: .4rem 0.3;
    width: 50%;
} */

/* .contact h1{
color: var(--primary-fuchsia);
padding: 1.3rem 0;
text-transform: uppercase;
}

.contact p {
    color: var(--primary-fuchsia);
    font-size: 1.2rem;
}

.contact input, .contact textarea {
   width: 100%;
   box-sizing: border-box; 
   background: none;
   resize: none;
   border: 0;
   border-bottom: 0.125rem solid var(--primary-dark);
   border-radius: 0;
   color: var(--primary-fuchsia);
   outline: 0 !important;
   box-shadow: none !important;
   margin-bottom: 1rem;
   padding-left: 0 !important;

}

.contact .container {
    padding: 4rem 0;
}

.contact input:focus, .contact textarea:focus {
    background: transparent;
    color: var(--primary-fuchsia);
    border-bottom: 0.125rem solid var(--primary-dark);
}

.contact textarea {
    height: 12.4rem !important;
}

.contact-btn {
    margin: 1rem 0 0 0;
    width: 100%;
    background: fuchsia
}

.line {
    position: relative;
    top: -0.8rem;
    width: 0;
    height: 0.125rem;
    background: var(--primary-fuchsia);
    display: inline-block;
}

input:focus+.line, textarea:focus+.line {
    width: 100%;
    transition: width 0.5s ease-in-out;
}

input.form-control {
    margin: -0.3rem 0;
}

textarea.form-control {
    margin: -0.3rem 0;
}

@media(max-width: 768px) {
    .contact {
        overflow-x: hidden;
    }

    .contact .container {
        padding: 0 1rem;
    }

    .contact p {
        padding: 0 0.4rem;
    }
} */

/*********************************************************** Footer *********************************************************************/

.footer {
    /* background: var(--primary-dark); */
    background-color: rgba(219, 182, 217, 0.755) !important;
    color: var(--primary-dark);
    padding: 3rem;
    margin-top: 6rem;
}

.footer a {
    text-decoration: none;
    color: var(--primary-black);
}

.footer a:hover {
    text-decoration: none;
    color: var(--primary-fuchsia);
    cursor: pointer;
}

.footer p {
    margin-bottom: 0;
}

.pt-3 {
    color: var(--primary-fuchsia);
}

.github-icon {
    margin-left: .6rem;;
}

/************************ EXPERIENCE *********************************/

.experience {
    padding: 0.7rem;
  }
  
  .experience-wrapper {
    position: relative;
    padding: 3.125rem 0;
    overflow: hidden;
  }
  
  .experience h1 {
    text-transform: uppercase;
    /* color: var(--primary-orange); */
    /* color:  #f9ab00; */
    color: rgba(117, 26, 117, 0.995);

  }
  
  .experience-wrapper::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    margin-left: -0.0625rem;
    width: 0.125rem;
    height: 100%;
    /* background: var(--primary-grey); */
    background: #ccd1d9;
    z-index: 1;
  }
  
  .timeline-block {
    width: calc(50% + 0.5rem);
    display: flex;
    justify-content: space-between;
    clear: both;
  }
  
  .timeline-block-right {
    float: right;
  }
  
  .timeline-block-left {
    float: left;
    direction: rtl;
  }
  
  
  .marker {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;;
    border: 0.3125rem solid var(--primary-dark);
    /* background: var(--primary-orange); */
    /* background: #f9ab00; */
    background: fuchsia;
    margin-top: 0.625rem;
    z-index: 3;
  }
  
  .timeline-content {
    width: 95%;
    padding: 0 0.9375rem;
    /* color: var(--primary-dark-grey); */
    /* color:  #ccd1d9; */
    color: rgba(117, 26, 117, 0.995);
    direction: ltr;
  }
  
  .timeline-content h3 {
    margin-top: 0.3125rem;
    /* color: var(--primary-red); */
    /* color: #ef4035; */
    color: orange;
    font-weight: 90;
  }

  .experience h5 {
    font-weight: bold;
    font-style: italic;
  }

  .resume a {
    color: rgba(117, 26, 117, 0.995) !important;
  }
  
  /************************ CONTACTS COMPONENT *********************************/
.contacts {
    background: var(--primary-dark);
    padding: 3rem 0;
  }
  
  .contacts h1 {
    color: var(--primary-orange);
    padding: 1.3rem 0;
    text-transform: uppercase;
  }
  
  .contacts p {
    color: var(--primary-light-grey);
    font-size: 1.2rem;
  }
  
  /*------------------ INPUTS -------------------------------*/
  .contacts input, .contacts textarea {
    width: 100%;
    box-sizing: border-box;
    background: none;
    resize: none;
    border: 0;
    border-bottom: 0.125rem solid var(--primary-dark-grey);
    border-radius: 0;
    color: var(--primary-orange);
    outline: 0 !important;
    box-shadow: none !important;
    margin-bottom: 1rem;
    padding-left: 0 !important;
  }
  
  .contacts .container {
    padding: 4rem 0;
  }
  
  .contacts input:focus, .contacts textarea:focus {
    background: transparent;
    color: var(--primary-orange);
    border-bottom: 0.125rem solid var(--primary-dark-grey);
  }
  
  .contacts textarea {
    height: 12.2rem !important;
  }
  
  .contact-btn {
    margin: 1rem 0 0 0;
    width: 100%;
    background: none;
  }
  
  .line {
    position: relative;
    top: -0.8rem;
    width: 0;
    height: 0.125rem;
    background: var(--primary-orange);
    display: inline-block;
  }
  
  input:focus+.line, textarea:focus+.line {
    width: 100%;
    transition: width 0.5s ease-in-out;
  }
  
  input.form-control {
    margin: -0.3rem 0;
  }
  
  textarea.form-control {
    margin: -0.3rem 0;
  }
  
  .error-message {
    color: var(--primary-white);
    background: var(--primary-hover-red);
    text-align: left;
  }
  
  .success-message {
    font-weight: 900;
    color: var(--primary-green);
  }
  
  /*---------------- MEDIAs -----------------------*/
  @media(max-width: 768px) {
    .contacts {
      overflow-x: hidden;
    }
    
    .contacts .container {
      padding: 0 1rem;
    }
  
    .contacts p {
      padding: 0 0.4rem;
    }
  }