/*********************************************************** Google Fonts *********************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+VIC+WA+NT+Beginner&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+VIC+WA+NT+Beginner&family=MonteCarlo&family=Ubuntu:wght@300&display=swap');


:root {
    --primary-white: rgb(255, 255, 255);
    --primary-black: rgb(0, 0, 0);
    --primary-dark: rgb(52, 58, 64);
    --primary-blue: rgba(9, 64, 84, 0.832);
    --primary-darkYellow: rgba(191, 191, 28, 0.351);
    --primary-lightYellow:  rgb(210, 180, 140);
    --primary-orange: rgba(255, 166, 0, 0.966);
    

}



/*********************************************************** Navbar *********************************************************************/

.navbar {
    background-color: rgba(191, 191, 28, 0.351) !important;
}

nav a.nav-link {
    letter-spacing: 0.0375rem;
    cursor: pointer;
    font-size: 1rem;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: rgba(9, 64, 84, 0.67);
    font-weight: bold;
}

.navbar-name {
    color: rgba(9, 64, 84, 0.832);
    font-size: 3.5rem;
    font-family: "MonteCarlo";
    font-weight: bold;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
    border-bottom: 0.1875rem solid var(--primary-blue);
}


/*********************************************************** Home *********************************************************************/

.home-wrapper {
    position: relative;
    height: 90vh;
}

.main-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-info h1 {
    color: var(--primary-orange);
    font-weight: 700;
    text-transform: uppercase;
}

.Typewriter__wrapper, .Typewriter__cursor {
    font-size: 2rem;
    color: var(--primary-orange);
}


/*********************************************************** About Me *********************************************************************/
.photo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 16rem;
    border-radius: 50%;
    padding: .3rem;
    border: 1px solid var(--primary-orange);
    margin-top: 2rem;
}

.about-heading {
    color: var(--primary-orange);
    font-weight: 700;
    margin-top: .2rem !important;
    margin-bottom: 1rem !important;
    font-size: 6rem;
    font-family: "MonteCarlo";
}

.about-paragraph {
    background-color: bisque;
    display: flex;
    justify-content: center;
    border: 1px solid var(--primary-orange);
    padding-top: 1rem;
    padding-bottom: .5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    color: var(--primary-orange);
    opacity: .9;
}


#about {
    display: flex;
    justify-content: center;
    padding-left: 5rem;
    padding-bottom: 1rem;
    padding-top: 6rem;
  
}

/*********************************************************** Portfolio *********************************************************************/

.portfolio-image {
    width: 15rem !important;
    border: 1px solid var(--primary-orange) !important;
}

.portfolio-image-box {
    position: relative; 
    /* margin: 1rem !important; */
}

.portfolio-wrapper a {
    color: var(--primary-orange) !important; 
}

h1 {
    color: var(--primary-orange) !important;
    font-weight: 700 !important;
    margin: 5rem !important;
}


/*********************************************************** Resume *********************************************************************/

.resume-text {
    color: rgb(223, 95, 40);
    text-transform: uppercase;
    padding-bottom: 1rem;
}


a:link { 
    text-decoration: none;
}

/*********************************************************** Experience *********************************************************************/

.experience {
    background-color: bisque;
    opacity: .8;
    border: 1px solid var(--primary-orange);
    margin: 9rem;
    padding-left: 2rem;
    padding-right: 3rem;
  }
  
  .experience-wrapper {
    position: relative;
    padding: .5rem 0;
    overflow: hidden;
  }
  
  .experience h1 {
    text-transform: uppercase;
    color: var(--primary-orange);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  
  .experience-wrapper::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    margin-left: -0.0625rem;
    width: 0.125rem;
    height: 100%;
    background: var(--primary-lightYellow);
    z-index: 1;
  }
  
  .timeline-block {
    width: calc(50% + 0.5rem);
    display: flex;
    justify-content: space-between;
    clear: both;
  }
  
  .timeline-block-right {
    float: right;
  }
  
  .timeline-block-left {
    float: left;
    direction: rtl;
  }
  
  
  .marker {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;;
    border: 0.3125rem solid var(--primary-dark);
    background: var(--primary-orange);
    margin-top: 0.625rem;
    z-index: 3;
  }
  
  .timeline-content {
    width: 95%;
    padding: 0 0.9375rem;
    color: var(--primary-orange);
    z-index: 100;
    font-weight: 700;
    direction: ltr;

  }
  
  .timeline-content h3 {
    margin-top: 0.3125rem;
    color: rgb(213, 68, 10);
    font-weight: 700;
  }

  .experience h5 {
    font-weight: 800;
    font-style: italic;
    color: rgb(162, 162, 36);
  }

  .resume a {
    color: var(--primary-orange);
  }
  
#resume-link a:hover {
    color: rgb(223, 95, 40);
}

@media(max-width: 768px) {
.experience .container {
  padding-left: 0;
}

  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  
  .timeline-block-left {
    float: none;
    direction: ltr; 
    width: 100%;
  }
}

/*********************************************************** Contact *********************************************************************/

.contact h1{
color: var(--primary-orange);
padding-top: 4rem;
text-transform: uppercase;
}


#contact-name {
    margin-bottom: 1rem;

}
#contact-email {
    margin-bottom: 1rem;
}
#contact-message {
    box-sizing: content-box;
    margin-bottom: 2rem;
   
}

#name {
    color: var(--primary-orange);
    padding-right: 1rem;
}
#email {
    color: var(--primary-orange);
    padding-right: 1rem;
}
#message {
    color: var(--primary-orange);
    padding-right: 1rem;
}


.contact input:focus, .contact textarea:focus {
    background: transparent;
    color: var(--primary-lightYellow);
    border-bottom: 0.125rem solid var(--primary-dark);
}



.contact-btn {
    margin: 1rem 0 0 0;
    width: 100%;
    background: orange !important;
}


input:focus+.line, textarea:focus+.line {
    width: 100%;
    transition: width 0.5s ease-in-out;
}

input.form-control {
    margin: -0.3rem 0;
}

textarea.form-control {
    margin: -0.3rem 0;
}

.contact .container {
    padding-bottom: 4rem;
}

@media(max-width: 768px) {
    .contact {
        overflow-x: hidden;
    }

    .contact .container {
        padding: 0 1rem;
        
       
       
    }

    .contact p {
        padding: 0 0.4rem;
    }
}

/*********************************************************** Footer *********************************************************************/

#footer {
    /* position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%; */
    background-color: rgba(191, 191, 28, 0.351) !important;
    color: var(--primary-orange);
    /* padding: 2rem;
    margin-top: 2rem;  */
}

#footer a {
    text-decoration: none;
    color: var(--primary-orange);
}

#footer a:hover {
    text-decoration: none;
    color: rgb(223, 95, 40);
    cursor: pointer;
}


#pt-3 {
   font-weight: bold;
   
}

#github-icon {
    margin-left: .6rem;;
}

